
/* Your CSS Code here. */
body{
	margin:0;
}
h3{
	margin:0;
}
#navbar{
	padding-left:20px;
	margin-top:25px;
	
	
}
header{
	padding-left:20px;
	background-color:lightblue;
}
.header{
	font-size:35px;
	font-weight:bold;
	
}
.summary{

	margin-top:20px;
}
h3{
	decoration-text:underline;
}
main{
	padding-left:20px;
}